body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 2em;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 15px 0;
}

a {
  font-size: 1.2em;
  text-decoration: none;
  color: steelblue;
}

a:hover {
  text-decoration: underline;
}

img {

  width: 650px;
  height: 400px;

  margin-bottom: 20px;

}