body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
  background-color: rgb(0, 0, 0);
}

.light-page a {
  color: black; /* FOR BRIGHT COLORED BACKGROUNDS, MAKE TEXT BLACK */
}
.light-page h1 {
  color: black;
}

h1 {
  color: white;
  font-size: 2em;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 15px 0;
}

a {
  font-size: 1.2em;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

img {
  width: 650px;
  height: 400px;
  margin-bottom: 20px;
}